{% extends 'auction/base.html' %}

{% block title %}{{ product.title }}{% endblock %}

{% block content %}
<style>
    .product-details {
        background-color: #f8f9fa; /* 輕淺背景色 */
        padding: 20px;
        border-radius: 8px; /* 圓角邊框 */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 箱型陰影 */
        max-width: 800px;
        margin: auto;
    }

    .product-title {
        font-size: 2.5rem; /* 大字號標題 */
        color: #007bff; /* 主題藍色 */
        margin-bottom: 10px; /* 與下一段的間距 */
    }

    .product-description {
        font-size: 1.2rem; /* 適中的描述文字大小 */
        color: #666; /* 深灰色文字 */
        margin-bottom: 20px; /* 描述與其他內容的間距 */
    }

    .product-image {
        max-width: 100%; /* 確保圖片適應容器寬度 */
        height: auto; /* 保持圖片原始比例 */
        border-radius: 5px; /* 圓角效果 */
        margin-bottom: 20px; /* 圖片與下文的間距 */
    }

    .price-info {
        font-size: 1.5rem; /* 價格信息字號 */
        color: #075f6c; /* 鮮綠色，突出價格信息 */
        font-weight: bold;
        margin-bottom: 20px; /* 與出價按鈕的間距 */
    }

   
</style>
<div class="product-details">
    <h1 class="product-title">{{ product.title }}</h1>
    <p class="product-description"><strong>商品描述:</strong> {{ product.description }}</p>
    <div>
        {% if product.image_url %}
            <img src="{{ product.image_url }}" alt="Image of {{ product.title }}" class="product-image">
        {% else %}
            <p>No image available.</p>
        {% endif %}
    </div>
    <div class="price-info">
        起標價: NT$ {{ product.starting_bid|floatformat:"0" }}
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="bid-highlight">
            {% if highest_bid %}
                最高出價: {{ highest_bid }}
            {% else %}
                尚無出價
            {% endif %}
        </span>
    </div>
    <div>
        <h3><a href="{% url 'add_bid' product_id=product.id %}">我要出價！</a></h3>
    </div>
</div>
{% endblock %}
